body
{
    font-family: 'Roboto', sans-serif;
    letter-spacing: .50px;
    
}
/* ---------------- header ---------------- */
.header-login
{
    width:100%;
    height:170px;
    background-color: rgb(235, 235, 235);
    margin-bottom: 60px;
}

/* container-login */
.container-login
{
    width:85%;
    height:400px;
    margin: auto;
}

/* login-text */
.login-text
{
    margin-bottom: 20px;
    margin-left:10px ;
}

/* login-form */
.login-form
{
    width:95%;
    height:260px;
    background-color: transparent;
    border: 1.3px solid #82b3b6;
    padding: 15px;
    margin: auto;

}

/* input-mail */
.input-mail
{
    position: relative;
}
.input-mail input, .input-password input
{
    width: 98%;
    border-radius: 2px;
    height: 21px;
    outline: none;
    border: 1px solid #82b3b6;
    padding: 10px;
    font-size: 17px;
    display: block;
    margin-bottom: 30px;
}

/* input-password */
.input-password
{
    position: relative;
}

/* show */

.show
{
    position: absolute;
    top:11px;
    left:97%;
    border-left:1px solid #000 ;
}

/* hide-icon */
#hide-icon1
{
    display: none;
}

/* login-btn */
.login-btn button
{
    width: 12%;
    height: 43px;
    background-color: #82b3b6;
    color:#fff;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s ease;
}

.login-btn button:hover
{
    background-color: #71999C;
}

.login-btn label
{
    font-size: 17px;
}

/* forget */
.forget 
{
    margin-top: 15px;
}

.forget a
{
    color:#73a6a8;
}
.forget a:hover
{
    color:#000;
}